<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>[[ site.title ]] by [[ site.author.name ]]</title>
   <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div class="toggleWrapper">
  <a id="btnToggleGrid" class="btnToggleGrid" href="javascript:void(0)">Turn Grid On</a>
</div>

<article>
{{ content }}
</article>


<script>
	// Toggle Grid Functionality
	document.getElementById("btnToggleGrid").onclick = toggleGrid;
</script>

</body>
</html>
